body {
  font-family: 'Inconsolata', consolas, monospace;
  font-size: 100%;
  margin: auto;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  background-color: #030625;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #ced9ed;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #ced9ed;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
}

a {
  display: inline-block;
  color: #0bc3a9;
  padding: 0px 2px;
}

ul a:visited {
  color: #2cc64e;
}

a:visited:hover {
  color: #030625;
}

a:not(.title):hover {
  color: #030625;
  background-color: #2cc64e;
  box-shadow: 0 0 0 2px #2cc64e;
}

.title {
  text-decoration: none;
  border: 0;
}

.title span {
  font-weight: 400;
}

nav a {
  margin-right: 10px;
}

textarea {
  background-color: #252525;
  color: #ddd;
  width: 100%;
  font-size: 16px;
}

input {
  background-color: #252525;
  color: #ddd;
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #c9d1d9;
  padding: 5px;
}

img {
  max-width: 100%;
}

code {
  padding: 2px 5px;
  color: #ccccd0;
  background-color: #1c2536;
}

pre code {
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
  overflow-x: auto;
}

blockquote {
  border-left: 1px solid #81899e;
  color: #81899e;
  padding-left: 20px;
}

footer {
  padding: 25px;
  text-align: center;
}

.helptext {
  color: #aaa;
  font-size: small;
}

.errorlist {
  color: #eba613;
  font-size: small;
}

/* blog posts */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 10px;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

a.blog-tags {
  line-height: 2;
}

h3.blog-filter {
  margin-bottom: 0;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.7;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 0em;
  text-indent: 0em;
}

li:before {
  content: ">";
  padding-right: 16px;
}