/* This style is a variant of Dracula that is more accessible to people with poor eyesight */
/* See https://web.dev/color-and-contrast-accessibility/ */
/* And https://xyproto.github.io/splash/docs/dracula.html */
/* And https://github.com/alecthomas/chroma/blob/a40c95e447a577322e20eac58f2f7c0d026665b0/styles/dracula.xml */

/* Background */ .bg { color: #acac76; background-color: #282a36; }
/* PreWrapper */ .chroma { color: #f8f8f2; background-color: #282a36; }
/* Other .chroma .x {  } */
/* Error .chroma .err {  } */
/* CodeLine .chroma .cl {  } */
/* LineLink */ .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #92929240 }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #81899e }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #2cc64e }
/* KeywordConstant */ .chroma .kc { color: #2cc64e }
/* KeywordDeclaration */ .chroma .kd { color: #0bc3a9; }
/* KeywordNamespace */ .chroma .kn { color: #2cc64e }
/* KeywordPseudo */ .chroma .kp { color: #2cc64e }
/* KeywordReserved */ .chroma .kr { color: #2cc64e }
/* KeywordType */ .chroma .kt { color: #2cc64e }.bold {  }
/* NameAttribute */ .chroma .na { color: #2cc64e }
/* NameBuiltin */ .chroma .nb { color: #2cc64e; }
/* NameBuiltinPseudo .chroma .bp {  } */
/* NameClass */ .chroma .nc { color: #2cc64e }
/* NameConstant .chroma .no {  } */
/* NameDecorator .chroma .nd {  } */
/* NameEntity .chroma .ni {  } */
/* NameException .chroma .ne {  } */
/* NameFunction */ .chroma .nf { color: #0bc3a9 }
/* NameFunctionMagic .chroma .fm {  } */
/* NameLabel */ .chroma .nl { color: #ced9ed; }
/* NameNamespace .chroma .nn {  } */
/* NameOther .chroma .nx {  } */
/* NameProperty .chroma .py {  } */
/* NameTag */ .chroma .nt { color: #2cc64e }
/* NameVariable */ .chroma .nv { color: #abc9cd; }
/* NameVariableClass */ .chroma .vc { color: #abc9cd; }
/* NameVariableGlobal */ .chroma .vg { color: #abc9cd; }
/* NameVariableInstance */ .chroma .vi { color: #abc9cd; }
/* NameVariableMagic .chroma .vm {  } */
/* Literal .chroma .l {  } */
/* LiteralDate .chroma .ld {  } */
/* LiteralString */ .chroma .s { color: #2cc64e }
/* LiteralStringAffix */ .chroma .sa { color: #2cc64e }
/* LiteralStringBacktick */ .chroma .sb { color: #2cc64e }
/* LiteralStringChar */ .chroma .sc { color: #2cc64e }
/* LiteralStringDelimiter */ .chroma .dl { color: #2cc64e }
/* LiteralStringDoc */ .chroma .sd { color: #2cc64e }
/* LiteralStringDouble */ .chroma .s2 { color: #2cc64e }
/* LiteralStringEscape */ .chroma .se { color: #2cc64e }
/* LiteralStringHeredoc */ .chroma .sh { color: #2cc64e }
/* LiteralStringInterpol */ .chroma .si { color: #2cc64e }
/* LiteralStringOther */ .chroma .sx { color: #2cc64e }
/* LiteralStringRegex */ .chroma .sr { color: #2cc64e }
/* LiteralStringSingle */ .chroma .s1 { color: #2cc64e }
/* LiteralStringSymbol */ .chroma .ss { color: #2cc64e }
/* LiteralNumber */ .chroma .m { color: #2cc64e }
/* LiteralNumberBin */ .chroma .mb { color: #2cc64e }
/* LiteralNumberFloat */ .chroma .mf { color: #2cc64e }
/* LiteralNumberHex */ .chroma .mh { color: #2cc64e }
/* LiteralNumberInteger */ .chroma .mi { color: #2cc64e }
/* LiteralNumberIntegerLong */ .chroma .il { color: #2cc64e }
/* LiteralNumberOct */ .chroma .mo { color: #2cc64e }
/* Operator */ .chroma .o { color: #ced9ed }
/* OperatorWord */ .chroma .ow { color: #ced9ed }
/* Punctuation .chroma .p {  } */
/* Comment */ .chroma .c { color: #81899e }
/* CommentHashbang */ .chroma .ch { color: #81899e }
/* CommentMultiline */ .chroma .cm { color: #81899e }
/* CommentSingle */ .chroma .c1 { color: #81899e }
/* CommentSpecial */ .chroma .cs { color: #81899e }
/* CommentPreproc */ .chroma .cp { color: #2cc64e }
/* CommentPreprocFile */ .chroma .cpf { color: #2cc64e }
/* Generic .chroma .g {  } */
/* GenericDeleted */ .chroma .gd { color: #ff5555 }
/* GenericEmph */ .chroma .ge { text-decoration: underline }
/* GenericError .chroma .gr {  } */
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #2cc64e; font-weight: bold }
/* GenericOutput */ .chroma .go { color: #44475a }
/* GenericPrompt .chroma .gp {  } */
/* GenericStrong .chroma .gs {  } */
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback .chroma .gt {  } */
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace .chroma .w {  } */
